<nav class="navbar navbar-expand-lg bg-body-tertiary"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Characters</a>
        <a class="navbar-brand" href="/episodes">Episodes</a>
        <a class="navbar-brand" href="/locations">Locations</a>

        <form action="/logout" method="post">
            <button class="logout" type="submit">Sign out</button>
        </form>
    </div>
</nav>
